@media (min-width: 900px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
  }
}
@media (max-width: 899px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
.home-diversity-layout {
  background-color: #f5f5f5;
  padding: 2em 7.3em;
  margin-top: 7em;
}

.home-diversity-title {
  padding: 1.8em 0;
  color: var(--Accent-Teal, #00677f);
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  white-space: nowrap;
}

.home-diversity-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2em;
}

.home-diversity-content-head {
  font: 2.9em "Helvetica Neue LT W1G", Helvetica;
  margin: 0;
  line-height: 1.2em;
}

.home-diversity-content-item {
  font: 1.4em "Helvetica Neue LT W1G", Helvetica;
  padding: 0em 1em 0em 0em;
  font-weight: 400;
  line-height: 1.5em;
}

.home-diversity-readmore img {
  width: 1em;
}

.home-diversity-readmore {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  align-items: center;
  display: flex;
  gap: 0.5em;
  cursor: pointer;
  margin-top: 3em;
  font-weight: 500;
  color: #222222;
  position: absolute;
  bottom: 1em;
}

.home-diversity-readmore:hover {
  color: red;
}

.home-diversity-slider {
  display: flex;
  gap: 0.5em;
}

.home-diver-img-main {
  width: 100%;
  height: auto;
  /* transition: transform 0.5s ease-in-out; */
}

.home-diver-img-small img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.home-diver-img-small {
  width: 4.65%;
  height: 100%;
  z-index: 11;
  transition: transform 0.5s ease-in-out;
}

.home-diver-img-small-2 img {
  width: 100%;
}

.home-diver-img-small-2 {
  width: 3.1%;
  height: 100%;
  transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
  z-index: 999;
}

.home-diver-img-small-3 img {
  width: 100%;
}

.home-diver-img-small-3 {
  width: 1.552%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.home-diversity-content-slider-item {
  position: relative;
}

.home-diver-slider-content {
  position: absolute;
  top: 14em;
  color: white;
  padding: 3em;
  z-index: 99;
  width: 75%;
}

.home-diver-slider-content > p {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
}

.home-diver-overlay {
  position: absolute;
  width: 88.5%;
  height: 99%;
  opacity: 0.4;
  background-color: blue;
  top: 0;
  z-index: 10;
}

.home-diver-next {
  gap: 0.5em;
  display: flex;
  display: flex;
  align-items: center;
}

.home-diver-next > p {
  font: 0.8em "Helvetica Neue LT W1G", Helvetica;
}

.home-diver-next img {
  width: 6%;
  cursor: pointer;
}

.home-diversity-content-main {
  position: relative;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-diver-img-main-layout {
  width: 100%;
}

.home-diversity-slider-layout {
  width: 100%;
  height: 100%;
}

.home-diversity-slider-layout {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 899px) {
  .home-diversity-layout {
    padding: 1.5em;
    margin-top: 2em;
  }
  .home-diversity-title {
    color: var(--Accent-Teal, #00677f);
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375em;
    letter-spacing: 0.1125em;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .home-diversity-content {
    display: grid;
    grid-template-columns: none;
    column-gap: 2em;
    row-gap: 3em;
  }

  .home-diversity-content-head {
    font-size: 2em;
    margin-top: 0;
    font-weight: 700;
    padding: 0.5em;
    line-height: 1.5em;
  }
  .home-diversity-content-main {
    padding-left: 0;
  }

  .home-diversity-content-item {
    font-size: 1.3em;
    padding: 0.5em;
    line-height: 1.5em;
  }

  .home-diversity-readmore {
    font-size: 1em;
    align-items: center;
    display: flex;
    gap: 0.5em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2em 1em;
  }

  .home-diver-next {
    gap: 1em;
    display: flex;
    display: flex;
    align-items: center;
    padding: 3em 1em;
  }

  .home-diver-next p {
    font-size: 1em;
  }

  .home-diver-next img {
    width: 10%;
  }
  .home-diver-slider-content {
    position: absolute;
    top: 4em;
    color: white;
    padding: 3em;
    z-index: 99;
    width: 100%;
  }

  .home-diver-slider-content p {
    font-size: 0.8em;
  }
}
.brands {
  height: auto;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  margin-top: 2em;
}
.brand-banner {
  display: flex;
  align-items: center;
  margin-top: 2.5em;
}
.brands-title {
  font: 1.5em "Helvetica Neue LT W1G", Helvetica;
  line-height: 1.375em;
  letter-spacing: 0.09em;
  font-weight: 700;
  color: #00677f;
  padding: 0 5.5em;
  margin-bottom: 3em;
}
.banner-left {
  position: relative;
  z-index: 1;
  width: 34%;
}
.banner-left-first {
  width: 95.4%;
}
.banner-right {
  position: relative;
  flex: 1;
  margin-left: -9.375em;
  width: 66%;
}
.banner-right > img {
  width: 100%;
  height: 17.82em;
}
.banner-logos {
  display: flex;
  align-items: center;
  gap: 2.875em;
  flex-wrap: wrap;
  margin-top: 1.875em;
  margin-bottom: 1.875em;
  padding-left: 8.1em;
}
.banner-right-text {
  position: absolute;
  top: 0;
  padding: 1em 7.5em;
  font: 1.5em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.875em;
  text-align: left;
  color: #fff;
}
.banner-left-img {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5.375em;
  width: 14.78125em;
  height: 5.55em;
  margin-left: 8.1em;
}
.logo-single {
  width: 23%;
  height: 20.0625em;
  background-color: #f5f5f5;
  padding: 3.875em 3.125em;
  position: relative;
  transition: all 0.3s ease;
}

.logo-single:hover {
  color: #fff;
  cursor: pointer;
  padding: 0em 3.125em !important;
  height: 28.0625em !important;
}

.logo-single > img {
  transition: filter 0.3s ease, transform 0.2s ease;
  width: 14.9375em;
  height: 8.6875em;
}

.logo-single .brand-name {
  transition: transform 0.3s ease;
}

.logo-single:hover img {
  filter: brightness(0) saturate(100%) invert(100%);
  margin-bottom: 0.625em;
  transform: scale(0.6);
  margin-left: -3em;
}

.logo-single:hover .brand-name {
  transform: translateY(-0.625em);
}
.logo-single:hover[data-bgcolor="1"] {
  background-color: #e71316;
}

.logo-single:hover[data-bgcolor="2"] {
  background-color: #1c1c4c;
}

.logo-single:hover[data-bgcolor="3"] {
  background-color: #e71316;
}

.logo-single:hover[data-bgcolor="4"] {
  background-color: #005daa;
  height: auto;
}

.logo-single:hover[data-bgcolor="5"] {
  background-color: #00677f;
}
.logo-single:hover[data-bgcolor="6"] {
  background-color: #58595b;
}
.logo-single:hover[data-bgcolor="7"] {
  background-color: #58595b;
}
.logo-single:hover[data-bgcolor="8"] {
  background-color: #1f6997;
}

.logo-single::after {
  content: "";
  position: absolute;
  bottom: 1em;
  right: 15.625em;
  width: 1.6em;
  height: 1.6em;
  background-image: url("./Images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: right 0.5s ease, opacity 0.3s ease;
}

.logo-single:hover::after {
  right: 1.25em;
  opacity: 1;
}

.brand-description {
  font: 1.2em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.5em;
  text-align: left;
  margin-top: 5.625em;
  margin-bottom: 0;
  padding: 0;
}

.logo-single:hover .brand-name p {
  margin-top: 0;
}

.logo-single:hover .brand-name .custom-description::before {
  content: attr(data-description);
  display: block;
  font-weight: bold;
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  margin-top: 0.5em;
}

.main-about {
  margin-top: 7em;
  margin-bottom: -5em;
}

.main-about .description {
  font: 700 1.3em "Helvetica Neue LT W1G", Helvetica;
  color: rgb(0, 103, 127);
  margin-left: 5.4em;
  margin-bottom: 1.3em;
}

.main-about-img {
  width: 100%;
  height: 26.6em;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-about-img > img {
  width: 100%;
  height: 27.75em;
}

.main-overlay {
  display: flex;
  top: 0;
  width: 100%;
}

.left-main-overlay,
.right-main-overlay {
  mix-blend-mode: multiply;
}

.left-main-overlay > img,
.right-main-overlay > img {
  width: 100%;
  height: 100%;
}

.right-main-overlay {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 59.3%;
  right: 0;
  margin-left: -0.25em;
  height: auto;
}

.left-main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 49.5%;
  z-index: 2;
}

.play {
  position: absolute;
  top: 42%;
  left: 13.375em;
  color: #fff;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 0.625em;
  cursor: pointer;
}

.round {
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #35343480;
}

.round:hover {
  background-color: red;
}

.play-btn {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.375em;
  text-align: left;
}
.round > img {
  width: 0.5em;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #4a4a4a;
  padding: 1.7em 5.5em;
  padding-right: 8em !important;
}

.footer-column {
  flex: 1;
}

.footer-first-top {
  font: 700 1.2em "Helvetica Neue LT W1G", Helvetica, sans-serif; /* 18px/24px */
  margin-bottom: 0.625em;
  color: #ebebec;
}

.footer-first-mid {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.6em;
  text-align: left;
  color: #c9cacc;
}

.footer-first-bootom {
  margin-top: 0.625em;
  color: #c9cacc;
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
}
.footer-first-bootom > a {
  text-decoration: underline;
  color: #c9cacc;
  padding-top: 1em;
}
.footer-second {
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
  color: #ffffff;
}

.footer-second-top {
  color: #ebebec;
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
}

.footer-second-p {
  color: white;
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1em;
  white-space: nowrap;
}

.footer-third-top {
  color: #ebebec;
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
}

.footer-third-p {
  color: white;
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  cursor: pointer;
}

.footer-fourth {
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  font-weight: 700;
  line-height: 2em;
  text-align: left;
  color: #ffffff;
}

.footer-fourth-top {
  color: #ebebec;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  background-color: #4a4a4a;
  padding: 1.7em 5em;
  padding-right: 16em !important;
  margin-top: 0.0625em;
  align-items: center;
}

.pre-footer-logo {
  height: 2.2em !important;
  margin-top: 0em;
  cursor: pointer;
}

.button > a {
  text-decoration: none;
  color: #fff;
}

.pre-footer-first {
  color: #ebebec;
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
}

.pre-footer-second {
  color: #ebebec;
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
  cursor: pointer;
}

.pre-footer-third {
  color: #ebebec;
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
  margin-top: 1.5em;
}

.connect-top,
.connect-bottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.connect-top > img,
.connect-bottom > img {
  margin-bottom: 0.625em;
}

.footer-first {
  width: 50%;
  padding-right: 6em;
}

.main-btn-newsroom2 {
  display: none;
}

.hide {
  display: none;
}

.our-story-mob {
  display: none;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 0.625em;
  margin-top: -3.75em;
  padding-right: 1.875em;
}

.connect-top > a > img,
.connect-bottom > a > img {
  width: 1.7em;
}

.socials > p {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  color: gray;
}
.logo-footer {
  display: none;
}
.mobile-container {
  display: none;
}
.red-text {
  color: red;
}
.menubar {
  display: inline-block;
  cursor: pointer;
}
#myLinks {
  top: 1.25em;
  left: 0;
  width: 100%;
  background: #fff;
}

.bar1,
.bar2,
.bar3 {
  width: 2.1875em;
  height: 0.3125em;
  background-color: #333;
  margin: 0.375em 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 0.6875em) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.6875em) rotate(45deg);
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 12;
  align-items: center;
}

.logo-mobb {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 8%;
  top: 0;
  padding-left: 1em;
  z-index: 10000;
}

.nested-main {
  margin-top: 1em;
  display: none;
}

.nested-main.show {
  display: block; /* Show when the class 'show' is added */
}

.nested {
  font: 1em "Helvetica Neue LT W1G", Helvetica !important;
  margin-left: 0.5em;
  padding: 1em !important;
  color: gray !important;
}

.topnav #myLinks {
  display: none;
  margin-top: 3em;
  padding: 1em;
}
.topnav ul {
  padding-left: 0;
}
.dropdown-toggle > p {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
}
.topnav li {
  color: #000;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1.0625em;
  display: block;
  font: 1.2em "Helvetica Neue LT W1G", Helvetica;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-weight: 400;
}
.topnav li.active {
  background-color: #fff;
}
.topnav a.icon {
  background: #fff;
  display: block;
  position: absolute;
  right: 1.375em;
}
.dropdown-container > li > div {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.dropdown-container > li > ul > li {
  border: none;
}

.dropdown-container {
  display: none;
  color: #000;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.dropdown-container > li {
  border: none;
}
.dropdown-left {
  width: 40%;
}
.search-mob {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  width: 105%;
}
.search-mob > input {
  padding: 2em 1em;
  width: 100%;
  background-color: #ebebec;
  outline: none;
  border: none;
  border-radius: 0.2em;
  margin: 0;
}
.search-mob > input::placeholder {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  color: gray;
}
.search-mob > img {
  position: relative;
  right: 2em;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  background-color: #ffffff;
  z-index: 1000;
  height: 6em;
}
.newsroom-podcast-text {
  flex: 1;
}
.navlogo {
  height: 6em;
}
.navlogo.mob > img {
  height: 2em;
  width: 10em;
  object-fit: cover;
}
.navlogo.mob {
  height: 50%;
}
.navlogo > img {
  height: 100%;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 3.4em;
}

.menu ul li {
  position: relative;
}
.main-btn-newsroom {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.animation-btn {
  position: relative;
  display: inline-block;
  transition: padding-right 0.3s ease-in-out;
}
.c-btn {
  text-transform: uppercase;
  color: red;
  font:
    18px "Helvetica Neue LT W1G",
    Helvetica;
  font-weight: 600;
  margin-top: 1em;
}

.animation-btn::after {
  content: '';
  position: absolute;
  right: 1em;
  width: 1em;
  height: 1em;
  background-image: url("./Images/red-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.right-arrow {
  display: flex;
  align-items: center;
}

.main-btn-newsroom:hover .animation-btn {
  padding-right: 0em;
}

.main-btn-newsroom:hover .animation-btn::after {
  right: -1.7em;
  opacity: 1;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -1.35em;
  left: 0.06em;
  width: 100%;
  height: 0.1875em;
  background-color: red;
}
.menu ul li:hover::after {
  content: "";
  position: absolute;
  bottom: -1.5em;
  left: 0.1em;
  width: 100%;
  height: 0.1875em;
  background-color: red;
}
.menu ul li a.active {
  font-weight: bold;
}

.menu ul a {
  margin-right: 0;
  cursor: pointer;
  color: #222;
  text-decoration: none;
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 300;
  line-height: 1.375em;
  letter-spacing: 0.05em;
  text-align: center;
}
.dots {
  display: flex;
  justify-content: start;
  margin-top: 0.8em;
  margin-left: -0.2em;
}

.dot-btn {
  width: 0.5375em;
  height: 0.425em;
  background-color: #bbb;
  margin: 0 0.3125em;
  transition: all 0.3s ease;
  cursor: pointer;
}
.dot-btn.active {
  background-color: red;
  transform: scaleX(2);
}

.search-icon {
  margin: 0 3em;
  cursor: pointer;
}
.button {
  background-color: #ccc;
  border: none;
  padding: 0.725em;
  border-radius: 0.3125em;
  cursor: pointer;
  margin-right: 2em;
  position: relative;
  color: #fff;
  transition: right 0.3s ease, opacity 0.3s ease;
  background: linear-gradient(to left, #97999c 50%, red 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  display: flex;
  align-items: center;
  gap: 0.4em;
  width: 9.5em;
}
.def {
  color: #fff !important;
}
.button:hover {
  background-position: left;
}
.button:hover .link-img {
  opacity: 1;
}
.link-img {
  opacity: 0;
  width: 0.9em;
  display: inline-block;
}
.menulinks {
  display: flex;
  align-items: center;
}
.dropdown {
  position: fixed;
  top: 4.375em;
  background-color: #fff;
  width: 101%;
  height: 28.125em;
  display: flex;
  z-index: 10000;
  margin-left: -0.5em;
  display: none;
}
.dropdown-left-top {
  position: absolute;
  top: 3.125em;
}
.dropdown-left-top > img {
  width: 12em;
}
.dropdown-left-img > img {
  width: 78%;
}
.search-icon > img {
  width: 1.3em;
}
.dropdown-left-bottom > img {
  width: 0.12em;
}
.dropdown-top-text {
  margin-top: -2.8125em;
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.75em;
  color: #fff;
  margin-left: 1.875em;
}
.dropdown-left-mid {
  position: absolute;
  top: 8.125em;
  color: #fff;
  margin-left: 1.875em;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
}
.dropdown-left-mid > span {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.75em;
  text-align: left;
}
.dropdown-left-bottom {
  display: flex;
  align-items: center;
  position: absolute;
  top: 14.375em;
  margin-left: 1.875em;
  gap: 0.625em;
}
.bottom-text {
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.375em;
  text-align: left;
  color: #fff;
}
.dropdown-right {
  position: absolute;
  bottom: -0.395em;
  right: 0;
}
.dropdown-right > img {
  width: 9em;
}
.dropdown-header {
  display: flex;
  align-items: center;
  gap: 0.625em;
  cursor: pointer;
}
.dropdown-header > img {
  width: 0.9375em;
}
.heder-drop {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.875em;
  text-align: center;
}
.main-dropdown {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.submenu {
  margin-left: 1.6875em;
  padding-top: 0.625em;
}
.submenu > a {
  text-decoration: none;
  color: black;
  opacity: 60%;
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
}
.submenu > p {
  color: black;
  opacity: 60%;
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
  padding-bottom: 0.625em;
  margin-top: -3.125em;
}
@media only screen and (max-width: 899px) {
  .mobile-container {
    display: block;
  }
  .desk-nav {
    display: none;
  }
}
@keyframes slideInDown {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation-name: slideInDown;
  animation-duration: 0.8s;
}

.dropdown-header.active {
  color: #f03817;
  display: flex;
  align-items: center;
}
.dropdown-mid {
  position: absolute;
  top: 3.75em;
  left: 31.25em;
  display: flex;
  gap: 4em 6.25em;
  flex-wrap: wrap;
  width: 50em;
  white-space: pre;
}
.submenu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.submenu.visible {
  display: block;
  opacity: 1;
  animation-name: slideInDown;
  animation-duration: 0.8s;
}
.on {
  font-weight: bold !important;
}
.dropdown-mid > p {
  font: 1.25em Helvetica Neue LT W1G, Helvetica;
  font-weight: 400;
  line-height: 1.875em;
  text-align: center;
}

.submenu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.submenu.visible {
  display: block;
  opacity: 1;
  animation-name: slideInDown;
  animation-duration: 0.8s;
}

.button > a {
  font: 1.04em "Helvetica Neue LT W1G", Helvetica;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 0.6em;
  transition: 0.2s ease all;
}

.button:hover > a {
  left: 0em;
}
.leadership {
  width: 100%;
  height: auto;
  margin-bottom: -10px;
}
  .leadership-heading {
    color: var(--Accent-Teal, #00677f);
    font: 1.3em "Helvetica Neue LT W1G", Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375em;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding-top: 3em;
    white-space: nowrap;
    margin-left: 5.6em;
}
.leadership-main {
  display: flex;
  background-color: #00677f;
  padding: 0 7em;
  height: auto;
  width: auto;
  gap: 0;
  padding-right: 12em;
}
.leaderhsip-left {
  width: 58%;
}
.leaderhsip-left > img {
  width: 100%;
  height: 100%;
  margin-bottom: -0.5em;
}
.leadership-right {
  margin-left: 7.375em;
  padding-top: 3.75em;
  width: 50%;
}
.leadership-right-top {
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.1em;
  color: #fff;
}
.leadership-description {
  font: 1.8em "Helvetica Neue LT W1G", Helvetica;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
  color: #fff;
  margin-top: 2em;
}
.bottom {
  font: 0.6em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin-top: 3em;
}
.leadership-bottom {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
  margin-top: 2.5em;
  cursor: pointer;
}
.mission-about {
  height: auto;
  font-style: normal;
  padding: 5em 7.3em;
  padding-bottom: 0;
}
.mission-main-about {
  display: flex;
  justify-content: space-between;
  margin-top: 1.875em;
  gap: 2.5em;
}
.mission-about-right {
  width: 50%;
  height: 40.625em;
}
.mission-about-left {
  width: 50%;
  height: 33.375em;
  margin-top: 1em;
}
.mission-about-right > img {
  margin-top: 1.25em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mission-about-titile {
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.09em;
  text-align: left;
  margin-top: 2em;
  color: #00677f;
}
.mission-top {
  font: 1.4em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.75em;
  text-align: left;
  color: #a6192e;
  margin: 0;
}
.mission-second {
  font: 3.125em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.3em;
  text-align: left;
  color: #222222;
  padding-top: 0em;
  margin: 0;
}
.mission-second > span {
  font-weight: 700;
}
.mission-third {
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 550;
  line-height: 1.5em;
  text-align: left;
  padding-top: 0.5em;
  width: 88%;
}
.mission-last {
  font: 1.35em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;
    padding-top: 0.5em;
    width: 88%;
}
#blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  z-index: 100;
  display: none;
}
.bottom-title {
  font: 2.125em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 3em;
  text-align: left;
  color: #262262;
  padding: 1em 3.3em;
  padding-bottom: 0;
}
.bottom-title > span {
  font-weight: 700;
  line-height: 3em;
  text-align: left;
  color: #262262;
}
.leadership-images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
  gap: 2.6875em;
  margin-top: -0.5em;
  padding: 0 3em;
}
.single-image {
  width: 20.5%;
  height: auto;
  margin-top: 2.2em;
  position: relative;
  cursor: pointer;
}
.single-image > img {
  width: 100%;
}
.single-desc {
  width: 89.6%;
  height: 5.5em;
  background-color: #00677f;
  position: absolute;
  bottom: -3.5625em;
  padding: 1em;
  color: #fff;
  transition: height 0.7s ease;
}
.single-image:hover .single-desc {
  height: 7.5em;
  bottom: -3.5em;
}
.single-image::after {
  content: "";
  position: absolute;
  bottom: -2.5em;
  right: 15.625em;
  width: 1.4em;
  height: 1.4em;
  background-image: url("./Images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: right 0.6s ease, opacity 0.3s ease;
}
.single-image:hover::after {
  right: 0.7em;
  opacity: 1;
}
.single-image:hover .single-desc {
  background-color: #e71316;
}
.overlay-txt {
  display: none;
}
.name {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
  margin: 0;
}
.designation {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 420;
  line-height: 1.5625em;
  text-align: left;
  margin: 0;
}
.button-mission {
  display: flex;
  align-items: center;
  padding: 3em 7.2em;
  gap: 1em;
  margin-top: 2em;
}
.button-text {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  color: #222222;
}
.button-text:hover {
  color: #e71316;
}
.button-mission > img {
  width: 1.3em;
}

.arrow {
  position: relative;
  display: inline-block;
  align-items: center;
  padding-right: 1.39em;
  transition: padding-right 0.2s ease-in-out;
}

.arrow::after {
  content: '';
  position: absolute;
  right: 1em;
  width: 1em;
  height: 1em;
  background-image: url("./Images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.arrow:hover::after {
  right: 0em;
  opacity: 1;
}

.connet-mobile{
  display: none;
}

.view-mobile {
  display: none;
}
.carousel6 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel6-inner {
  position: relative;
  width: 100%;
}

.carousel6-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 86%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel6-item.active {
  opacity: 1;
  position: relative;
}

.slider-left img {
  width: 100%;
}

.carousel6-dots {
  position: relative;
  bottom: 0px;
  left: 6em;
}

.carousel6-dots span {
  display: inline-block;
  height: 0.45em;
  width: 0.7em;
  margin: 0 0.1em;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.carousel6-dots .active {
  background: red;
}
.newsroom-mobile-diversity{
  display: none;
}
.home-diversity-layout{
  display: block;
}

@media (min-width: 340px) and (max-width: 539px) {
  .banner-left-first {
    position: relative;
    margin-bottom: 18.75em;
    height: 12.75em;
    left: -6em;
    top: 0px;
  }
}

@media (min-width: 540px) and (max-width: 699px) {
  .banner-left-first {
    position: relative;
    margin-bottom: 18.75em;
    height: 188px;
    left: -154px;
    top: 0px;
  }
  .banner-left-first {
    width: 100%;
    margin-bottom: 19.3em !important;
}
}

@media (min-width: 900px) and (max-width: 999px) {
  .banner-right > img {
    width: 100%;
    height: 18em !important;
  }
}

@media (max-width: 400px){
  .designation {
    font: 0.79em "Helvetica Neue LT W1G", Helvetica !important;
    font-weight: 400;
    line-height: 1.25em;
    text-align: left;
    margin-right: 0.625em;
    margin-top: 0.5em;
}
}


@media (min-width: 1000px) and (max-width: 1100px) {
  .banner-right > img {
    width: 100%;
    height: 17.7em !important;
  }
}
@media (min-width: 700px) and (max-width: 898px) {
  .banner-left-first {
    position: relative;
    margin-bottom: 18.75em;
    height: 16.75em;
    left: -15.75em;
    top: 0px;
  }
  .banner-left-img {
    position: absolute;
    top: 0;
    left: -4em !important;
    margin-top: 4.375em !important;
    width: 17.78em !important;
    height: 4.55em !important;
}
.banner-right-text {
  position: absolute;
  top: 10.125em !important;
  padding: 2em 1em 1em 1em;
  font: 1.7em "Helvetica Neue LT W1G", Helvetica !important;
  font-weight: 400;
  line-height: 2em !important;
  text-align: left;
  color: #fff;
}
.banner-left-first {
  width: 100%;
  margin-bottom: 21.1em !important;
}
  .search-mob {
    width: 101%;
  }
  .banner-right {
    position: absolute;
    flex: 1;
    margin-left: 0;
    height: 38.25em !important;
    background-color: #a6192e;
    width: 100%;
}
}
@media (max-width: 899px) {
  .home-diversity-layout{
    display: none;
  }
  .newsroom-mobile-diversity{
    display: block;
    margin-top: 4em;
    padding: 1em 1em;
    background-color: #f5f5f5;
  }
  .slider-right-top{
    font: 2.1em "Helvetica Neue LT W1G",
    Helvetica;
    margin-top: 1em;
    line-height: 1.2em;
  }
  .slider-right-top > span {
    font-weight: 600;
  }
  .slider-right-mid {
    font: 1.2em "Helvetica Neue LT W1G",
    Helvetica;
    margin: 1.5em 0;
    line-height: 1.2em;
    color: #222222;
  }
  .carousel6-item{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .carousel6-dots{
    padding: 1em;
    left: 0em;
   }
  .view-mobile{
    display: block;
  }
  .topnav {
    overflow-y: scroll;
  }
  .mission-about {
    padding: 1em;
    height: auto;
  }
  .mission-main-about {
    margin-top: 0.625em;
    flex-direction: column-reverse;
  }
  .main-about {
    margin-top: 4.75em;
  }
  .button-mission > img {
    display: none;
  }
  .mission-about-left {
    width: 100%;
    height: auto;
    margin-top: -1em;
  }

  .mission-about-right {
    width: 100%;
    height: 100%;
  }

  .mission-about-right > img {
    height: 100%;
    margin-top: 0;
    content: url("./Images/pexels-mikhail-nilov-8851730 2.png");
  }

  .mission-about-titile {
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 700;
    line-height: 1.375em;
    letter-spacing: 0.1em;
    text-align: left;
    color: #00677f;
    margin-top: 6em;
    margin-bottom: 1em;
  }

  .mission-top {
    font: 1.1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 600;
    line-height: 1.75em;
    text-align: left;
    color: #a6192e;
  }

  .mission-second {
    font: 2.2em "Helvetica Neue LT W1G", Helvetica;
    line-height: 1.4em;
    padding: 0;
    padding-top: 1em;
  }

  .mission-second > span {
    font-weight: 700;
    text-align: left;
    color: #222222;
    padding-top: 0;
    line-height: 1.4em;
  }

  .mission-third,
  .mission-last {
    font: 1.1em "Helvetica Neue LT W1G", Helvetica;
    line-height: 1.6em;
    font-weight: 400;
    text-align: left;
    padding-top: 1em;
    width: 100%;
  }
  .single-image {
    width: 47%;
  }
  .single-image > img {
    width: 100%;
  }
  .leadership-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 4em 1em;
    margin-top: -1.3125em;
    z-index: -10;
    object-fit: fill;
    padding: 0 1em;
  }
  .name {
    font: 0.9em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    margin-right: 0em;
  }
  .designation {
    font: 0.9em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 400;
    line-height: 1.25em;
    text-align: left;
    margin-right: 0.625em;
    margin-top: 0.5em;
  }
  .single-desc {
    width: 100%;
    height: 7.5em;
    background-color: #00677f;
    position: absolute;
    padding: 1em;
    color: #fff;
    transition: height 0.3s ease;
    overflow: hidden;
    bottom: -5em;
  }
  .single-image:hover::after {
    right: 0.2em;
    opacity: 1;
    bottom: -4.7em;
  }
  .single-image:hover .single-desc {
    background-color: #e71316;
    height: 8.5em;
    bottom: -5em;
  }
  .button-text {
    color: #e71316;
    font-size: 1em;
    transition: color 0.3s ease;
    text-transform: capitalize;
    text-align: left;
    margin-left: 0.5em;
    margin-top: 5em;
  }
  .button-text:hover {
    color: #e71316;
  }
  .bottom-title {
    font: 1.2em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 400;
    line-height: 2.5em;
    text-align: left;
    color: #262262;
    padding: 0;
    margin-top: 3.6em;
    margin-left: 1em;
  }
  .bottom-title > span {
    font-weight: 700;
    line-height: 1.875em;
    text-align: left;
    color: #262262;
  }
  .button-mission {
    padding: 1em;
  }
  .leadership-main {
    display: flex;
    background-color: #00677f;
    padding: 0em;
    height: auto;
    width: auto;
    gap: 0;
    flex-direction: column;
  }
  .leaderhsip-left {
    width: 100%;
  }
  .leadership-right {
    margin-left: 0em;
    padding: 1.5em;
    width: 100%;
  }
  .leadership-description {
    font: 1.35em "Helvetica Neue LT W1G", Helvetica;
        margin-right: 1.3em;
        line-height: 1.5em;
        font-style: italic;
        margin-top: 1.5em;
  }
  .bottom {
    font: 0.8em "Helvetica Neue LT W1G", Helvetica;
  }
  .leaderhsip-left > img {
    content: url("./Images/founderm.png");
  }
  #main-abt {
    content: url("./Images/main.png");
  }
  .leadership-heading {
    margin: 2em 1.3em;
        font: 1em "Helvetica Neue LT W1G", Helvetica;
        font-weight: 700;
        line-height: 1.375em;
        letter-spacing: 0.09em;
        padding-top: 2em;
  }
  .leaderhsip-left > img {
    padding: 1em;
  }
  .banner-logos {
    gap: 1.25em;
    flex-wrap: wrap;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    padding: 0.625em 1em;
  }
  .banner-left-img {
    position: absolute;
        top: 0;
        left: -6em;
        margin-top: 4.375em;
        width: 12.78em;
        height: 3.55em;
  }
  .logo-single {
    width: 100%;
    height: 20.75em;
    background-color: #f5f5f5;
    padding: 1.875em 2.5em;
    position: relative;
    transition: all 0.3s ease;
  }

  .logo-single:hover {
    color: #fff;
    padding-left: 2em;
  }

  .logo-single > img {
    transition: filter 0.3s ease, transform 0.3s ease;
    width: 9.375em !important;
    height: 5.625em !important;
  }

  .logo-single .brand-name {
    transition: transform 0.3s ease;
  }

  .logo-single:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(100deg);
    margin-bottom: 0.625em;
    transform: scale(0.6);
    margin-left: -2.1em;
  }

  .logo-single:hover .brand-name {
    transform: translateY(-0.625em);
  }
  .logo-single:hover[data-bgcolor="1"] {
    background-color: #e71316;
    height: 20.75em !important;
  }

  .logo-single:hover[data-bgcolor="2"] {
    background-color: #1c1c4c;
    height: 20.75em !important;
  }

  .logo-single:hover[data-bgcolor="3"] {
    background-color: #e71316;
    height: 20.75em !important;
  }

  .logo-single:hover[data-bgcolor="4"] {
    background-color: #005daa;
    height: 20.75em !important;
  }

  .logo-single:hover[data-bgcolor="5"] {
    background-color: #00677f;
    height: 20.75em !important;
  }
  .logo-single:hover[data-bgcolor="6"] {
    background-color: #58595b;
    height: 20.75em !important;
  }
  .logo-single:hover[data-bgcolor="7"] {
    background-color: #58595b;
    height: 20.75em !important;
  }
  .logo-single:hover[data-bgcolor="8"] {
    background-color: #1f6997;
    height: 20.75em !important;
  }

  .logo-single::after {
    content: "";
    position: absolute;
    bottom: 1em;
    right: 15.625em;
    width: 1.5em;
    height: 1.5em;
    background-image: url("./Images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: right 0.3s ease, opacity 0.3s ease;
  }

  .logo-single:hover::after {
    right: 0.75em;
    opacity: 1;
  }

  .brand-description {
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    margin-top: 10.625em;
  }

  .logo-single:hover .brand-name p {
    margin-top: 0;
  }

  .logo-single:hover .brand-name .custom-description::before {
    content: attr(data-description);
    display: block;
    font-weight: bold;
    font: 0.875em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    margin-top: 0.625em;
  }
  .brand-description {
    font: 1.1em "Helvetica Neue LT W1G", Helvetica;
        font-weight: 550;
        line-height: 1.5em;
        text-align: left;
        margin-top: 4.625em;
        width: 78%;
  }
  .brands {
    height: auto;
    font: 0.875em "Helvetica Neue LT W1G", Helvetica;
    font-style: normal;
  }
  .brands-title {
    font: 1.0625em "Helvetica Neue LT W1G", Helvetica;
    line-height: 1.375em;
    font-weight: 600;
    color: #00677f;
    padding: 0 1.1em;
    margin-top: 4.125em;
  }
  .banner-left {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .banner-left-first {
    width: 100%;
        margin-bottom: 20.1em;
  }
  .banner-right {
    position: absolute;
        flex: 1;
        margin-left: 0;
        height: 33.25em;
        background-color: #a6192e;
        width: 100%;
  }
  .banner-right-text {
    position: absolute;
        top: 10.125em;
        padding: 2em 1em 1em 1em;
        font: 1.2em "Helvetica Neue LT W1G", Helvetica;
        font-weight: 400;
        line-height: 1.7em;
        text-align: left;
        color: #fff;
  }
  .main-about {
    width: 100%;
  }
  .main-about .description {
    font-weight: 0;
    line-height: 0;
    color: #ffffff;
    margin-left: 0em;
    margin-bottom: 0em;
  }
  .main-about-img {
    height: 100%;
  }
  .main-about-img > img {
    height: 75vh;
    object-fit: cover;
  }
  .play-text {
    font: 0.875em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 700;
    line-height: 1.375em;
    text-align: left;
  }
  .left-main-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20.625em solid #f72023;
        border-bottom: 62.125em solid transparent;
  }
  .left-main-overlay {
    position: absolute;
    width: 100%;
    background-color: rgb(151, 165, 187);
  }
  .left-main-overlay > img {
    width: 100%;
    height: 100%;
  }
  .right-main-overlay > img {
    width: 0;
    height: 0;
  }
  .play {
    top: 1em;
    left: 0.625em;
  }
  .play-btn {
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 600;
    line-height: 1.375em;
    text-align: left;
  }
  .round {
    width: 2.5em;
    height: 2.5em;
  }
  .footer-first {
    width: 100%;
    order: 2;
    margin-top: 2em;
  }
  .overlay-txt {
    display: block;
    position: relative;
    top: -6em;
    left: 1.5em;
    width: 85%;
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    line-height: 1.5em;
    font-weight: 600;
    color: #fff;
    z-index: 100000;
  }
  .logo-footer {
    display: block;
    width: 100%;
  }
  .logo-footer > img {
    width: 8em;
    margin-bottom: 2.5em;
  }
  .footer-first {
    width: 100%;
    order: 2;
    padding-top: 3em;
    padding-right: 0 !important;
  }
  .pre-footer-logo {
    display: none;
  }
  .footer-second {
    width: 50%;
    order: 1;
  }
  .pre-footer-first,
  .pre-footer-second,
  .pre-footer-third {
    width: 100%;
  }
  .pre-footer-second {
    order: 1;
    padding: 1em 0;
  }
  .pre-footer-third {
    order: 2;
    padding: 2em 0;
  }
  .pre-footer-first {
    order: 3;
    width: 45%;
  }
  .footer-third {
    width: 50%;
    order: 1;
  }
  .footer-fourth {
    width: 100%;
    order: 4;
  }
  .footer-icons {
    gap: 0;
    margin-left: -0.5em;
  }
  .footer-third-top {
    margin-top: 0em;
    margin-left: 0em;
  }
  .connect-top,
  .connect-bottom {
    flex-direction: row;
  }
  .footer-third-connect{
    margin-top: 2em;
  }
  .connet-desktop{
    display: none;
  }
  .connet-mobile{
    display: block;
  }
  .connet-mobile > .connect-top {
    align-items: center !important;
  }
  .footer-icons a {
    margin-left: 0.9375em;
  }
  .footer,
  .pre-footer,
  .csr-report-four {
    flex-wrap: wrap;
  }
  .footer {
    margin-top: 0;
    padding: 2.5em 1em;
    padding-right: 1em !important;
  }
  .pre-footer {
    padding: 2.5em 1em;
    padding-right: 1em !important;
  }
}
.brand-banner {
  display: flex;
  align-items: left !important;
  margin-top: 2.5em;
  padding-right: 0;
}

@media (min-width: 750px) and (max-width: 899px) {
  .left-main-overlay {
    border-left: 30.625em solid #f72023;
    border-bottom: 71.125em solid transparent;
  }
  .single-desc {
    width: 100%;
    height: 7.5em;
    background-color: #00677f;
    position: absolute;
    padding: 1em;
    color: #fff;
    transition: height 0.3s ease;
    overflow: hidden;
  }
  .single-image:hover .single-desc {
    background-color: #e71316;
    height: 7.5em;
  }
  .single-image {
    height: auto;
    margin-top: 3.2em;
  }
  .button-text {
    margin-left: 1em;
  }
  .brands-title {
    margin: 0 1em;
  }
  .bottom-title {
    margin-left: 1.5em;
  }
  .leaderhsip-left > img {
    padding: 2em;
  }
  .leadership-right {
    padding: 2em;
  }
  .mission-about {
    padding: 2em;
  }
  .leadership-heading {
    margin-left: 2em;
  }
  .banner-right-text {
    padding: 0.625em 2em;
  }
  .banner-logos {
    padding: 0.625em 2em;
  }
  .main-about {
    margin-top: 5.75em;
  }
  .logo-single {
    width: 48% !important;
    height: 20.75em;
    background-color: #f5f5f5;
    padding: 1.875em 2.5em;
    position: relative;
    transition: all 0.3s ease;
  }
}
