@media (min-width: 900px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
  }
}
@media (max-width: 899px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.newsroom-mission {
  padding: 2.22em 7em;
}
.newsroom-mission-title-main {
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.11em;
  letter-spacing: 0.00625em;
  padding: 0 5%;
  text-align: left;
  color: #00677f;
  padding: 2.22em 0px;
  white-space: nowrap;
}
.newsroom-mission-main {
  display: flex;
  align-items: flex-start;
  gap: 7.33em;
}
.newsroom-mission-left {
  width: 50%;
}
.newsroom-mission-right {
  width: 48%;
}
.newsroom-mission-right > img {
  width: 100%;
  height: 100%;
}
.newsroom-mission-title {
  font: 2.78em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 300;
  line-height: 1.33em;
  text-align: left;
}
.newsroom-mission-title > span {
  font-weight: 800;
}
.newsroom-mission-mid {
  display: flex;
  align-items: start;
  gap: 1.11em;
  margin-top: 2.22em;
}
.newsroom-mission-mid > img {
  margin-top: 0.56em;
  width: 1.11em;
}
.newsroom-mission-mid > p {
  font: 1.5em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.3em;
  text-align: left;
  margin-top: 0.14em;
  margin-bottom: 0;
}
.newsroom-mission-btn {
  display: flex;
  align-items: center;
  gap: 1.11em;
  margin-top: 2.08em;
}
.newsroom-mission-btn > p {
  font: 1.2em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.33em;
  letter-spacing: 0.04em;
  text-align: left;
  cursor: pointer;
}
.newsroom-mission-btn {
  display: flex !important;
  align-items: center;
  gap: 0.56em;
  margin-top: 2.22em;
}
.newsroom-mission-btn:hover {
  color: red;
}
.newsroom-mission-btn > img {
  width: 1.11em;
  margin-left: 0;
}
.carousel-dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

@media only screen and (max-width: 899px) {
  .newsroom-mission-main {
    display: flex;
    align-items: flex-start;
    gap: 2em;
    margin-top: 1em;
  }
  .newsroom-mission-mid > img {
    margin-top: 1em;
    width: 1em;
  }
  .newsroom-mission-btn > p {
    font: 0.7em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
  }
  .newsroom-mission {
    padding: 1.5em;
  }
  .newsroom-mission-main{
    flex-wrap: wrap;
  }
  .newsroom-mission-right {
    order: 1;
    width: 100% !important;
  }
  .newsroom-mission-left {
    order: 2;
  }
  .newsroom-mission-left {
    width: 100% !important;
  }
  .newsroom-mission-title-main {
    font-size: 1.3em !important;
    padding: 1em 0em;
  }

  .newsroom-mission-title{
    font-size: 1.5em !important;
  }

  .newsroom-mission-mid > p {
    font-size: 1.2em !important;
    line-height: 1.5em;
  }
  .newsroom-mission-btn {
    font-size: 1.3em !important;
  }
  .newsroom-mission-btn {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 2em;
  }
  .newsroom-mission-btn > img {
    width: 0.7em;
    margin-left: 0;
  }
}
.newsroom-diversity-layout {
  background-color: #f5f5f5;
  padding: 2em 7em;
  margin-top: 1em;
  padding-bottom: 6em !important;
}

.newsroom-diversity-title {
  padding-bottom: 2em;
  color: var(--Accent-Teal, #00677f);
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  white-space: nowrap;
}

.newsroom-diversity-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2em;
}

.newsroom-diversity-content-head {
  font: 3em "Helvetica Neue LT W1G", Helvetica;
  line-height: 1.3em;
  margin-top: 0;
}

.newsroom-diversity-content-item {
  font: 1.2em "Helvetica Neue LT W1G", Helvetica;
  padding: 0em 5em 0em 0em;
  font-weight: 400;
  line-height: 2em;
  margin-top: -1em;
}

.newsroom-diversity-readmore img {
  width: 3%;
}

.newsroom-diversity-readmore {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  align-items: center;
  display: flex;
  gap: 0.5em;
  cursor: pointer;
  margin-top: 2em;
}

.newsroom-diversity-readmore:hover {
  color: red;
}

.newsroom-diversity-slider {
  display: flex;
  gap: 0.5em;
}

.newsroom-diver-img-main {
  width: 100%;
  height: auto;
  /* transition: transform 0.5s ease-in-out; */
}

.newsroom-diver-img-small img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.newsroom-diver-img-small {
  width: 4.65%;
  height: 100%;
  z-index: 11;
  transition: transform 0.5s ease-in-out;
}

.newsroom-diver-img-small-2 img {
  width: 100%;
}

.newsroom-diver-img-small-2 {
  width: 3.1%;
  height: 100%;
  transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
  z-index: 9;
}

.newsroom-diver-img-small-3 img {
  width: 100%;
}

.newsroom-diver-img-small-3 {
  width: 1.552%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.newsroom-diversity-content-slider-item {
  position: relative;
}

.newsroom-diver-slider-content {
  position: absolute;
  top: 16em;
  color: white;
  padding: 3em;
  z-index: 99;
  width: 75%;
}

.newsroom-diver-overlay {
  position: absolute;
  width: 88.5%;
  height: 99%;
  opacity: 0.4;
  background-color: blue;
  top: 0;
  z-index: 10;
}

.newsroom-diver-next {
  gap: 0.5em;
  display: flex;
  display: flex;
  align-items: center;
}

.newsroom-diver-next > p {
  font: 0.8em "Helvetica Neue LT W1G", Helvetica;
}

.newsroom-diver-next img {
  width: 6%;
  cursor: pointer;
}

.newsroom-diversity-content-main {
  position: relative;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsroom-diver-img-main-layout {
  width: 100%;
}

.newsroom-diversity-slider-layout {
  width: 100%;
  height: 100%;
}

.newsroom-diversity-slider-layout {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 899px) {
  .newsroom-about-left {
    width: 100% !important;
  }
  .newsroom-about-about{
    width: 100% !important;
  }
  .newsroom-diversity-layout {
    padding: 1.5em 1em;
    margin-top: 2em;
    padding-bottom: 1em !important;
  }
  .newsroom-diversity-title {
    margin: 0;
  }

  .newsroom-diversity-content {
    display: grid;
    grid-template-columns: none;
    column-gap: 2em;
    row-gap: 3em;
  }

  .newsroom-diversity-content-head {
    font-size: 2em;
    margin-top: 0;
    font-weight: 700;
    padding: 0.5em;
    line-height: 1.5em;
  }
  .newsroom-diversity-content-main {
    padding-left: 0;
  }

  .newsroom-diversity-content-item {
    font-size: 1.3em;
    padding: 0.5em;
    line-height: 1.5em;
  }

  .newsroom-diversity-readmore {
    font-size: 1em;
    align-items: center;
    display: flex;
    gap: 0.5em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2em 1em;
  }

  .newsroom-diver-next {
    gap: 1em;
    display: flex;
    display: flex;
    align-items: center;
    padding: 3em 1em;
  }

  .newsroom-diver-next p {
    font-size: 1em;
  }

  .newsroom-diver-next img {
    width: 10%;
  }
  .newsroom-diver-slider-content {
    position: absolute;
    top: 4em;
    color: white;
    padding: 3em;
    z-index: 99;
    width: 100%;
  }

  .newsroom-diver-slider-content p {
    font-size: 0.8em;
  }
}
.mobile-container {
  display: none;
}
.red-text {
  color: red;
}
.menubar {
  display: inline-block;
  cursor: pointer;
}
#myLinks {
  top: 1.25em;
  left: 0;
  width: 100%;
  background: #fff;
}

.bar1,
.bar2,
.bar3 {
  width: 2.1875em;
  height: 0.3125em;
  background-color: #333;
  margin: 0.375em 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 0.6875em) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.6875em) rotate(45deg);
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 12;
  align-items: center;
}

.logo-mobb {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 8%;
  top: 0;
  padding-left: 1em;
  z-index: 10000;
}

.nested-main {
  margin-top: 1em;
  display: none;
}

.nested-main.show {
  display: block; /* Show when the class 'show' is added */
}

.nested {
  font: 1em "Helvetica Neue LT W1G", Helvetica !important;
  margin-left: 0.5em;
  padding: 1em !important;
  color: gray !important;
}

.topnav #myLinks {
  display: none;
  margin-top: 3em;
  padding: 1em;
}
.topnav ul {
  padding-left: 0;
}
.dropdown-toggle > p {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
}
.topnav li {
  color: #000;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1.0625em;
  display: block;
  font: 1.2em "Helvetica Neue LT W1G", Helvetica;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-weight: 400;
}
.topnav li.active {
  background-color: #fff;
}
.topnav a.icon {
  background: #fff;
  display: block;
  position: absolute;
  right: 1.375em;
}
.dropdown-container > li > div {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.dropdown-container > li > ul > li {
  border: none;
}

.dropdown-container {
  display: none;
  color: #000;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.dropdown-container > li {
  border: none;
}
.dropdown-left {
  width: 40%;
}
.search-mob {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  width: 105%;
}
.search-mob > input {
  padding: 2em 1em;
  width: 100%;
  background-color: #ebebec;
  outline: none;
  border: none;
  border-radius: 0.2em;
  margin: 0;
}
.search-mob > input::placeholder {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  color: gray;
}
.search-mob > img {
  position: relative;
  right: 2em;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  background-color: #ffffff;
  z-index: 1000;
  height: 6em;
}
.newsroom-podcast-text {
  flex: 1;
}
.navlogo {
  height: 6em;
}
.navlogo.mob > img {
  height: 2em;
  width: 10em;
  object-fit: cover;
}
.navlogo.mob {
  height: 50%;
}
.navlogo > img {
  height: 100%;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 3.4em;
}

.menu ul li {
  position: relative;
}

.menu ul li.active::after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: -0.625em;
  width: 95%;
  height: 0.1875em;
  background-color: red;
}
.menu ul li:hover::after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: -0.625em;
  width: 95%;
  height: 0.1875em;
  background-color: red;
}
.menu ul li a.active {
  font-weight: bold;
}

.menu ul a {
  margin-right: 0;
  cursor: pointer;
  color: #222;
  text-decoration: none;
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 300;
  line-height: 1.375em;
  letter-spacing: 0.05em;
  text-align: center;
}

.search-icon {
  margin: 0 3em;
  cursor: pointer;
}
.button {
  background-color: #ccc;
  border: none;
  padding: 0.725em;
  border-radius: 0.3125em;
  cursor: pointer;
  margin-right: 2em;
  position: relative;
  color: #fff;
  transition: right 0.3s ease, opacity 0.3s ease;
  background: linear-gradient(to left, #97999c 50%, red 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  display: flex;
  align-items: center;
  gap: 0.4em;
  width: 9.5em;
}
.def {
  color: #fff !important;
}
.button:hover {
  background-position: left;
}
.button:hover .link-img {
  opacity: 1;
}
.link-img {
  opacity: 0;
  width: 0.9em;
  display: inline-block;
}
.menulinks {
  display: flex;
  align-items: center;
}
.dropdown {
  position: fixed;
  top: 4.375em;
  background-color: #fff;
  width: 101%;
  height: 28.125em;
  display: flex;
  z-index: 10000;
  margin-left: -0.5em;
  display: none;
}
.dropdown-left-top {
  position: absolute;
  top: 3.125em;
}
.dropdown-left-top > img {
  width: 12em;
}
.dropdown-left-img > img {
  width: 78%;
}
.search-icon > img {
  width: 1.3em;
}
.dropdown-left-bottom > img {
  width: 0.12em;
}
.dropdown-top-text {
  margin-top: -2.8125em;
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.75em;
  color: #fff;
  margin-left: 1.875em;
}
.dropdown-left-mid {
  position: absolute;
  top: 8.125em;
  color: #fff;
  margin-left: 1.875em;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
}
.dropdown-left-mid > span {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.75em;
  text-align: left;
}
.dropdown-left-bottom {
  display: flex;
  align-items: center;
  position: absolute;
  top: 14.375em;
  margin-left: 1.875em;
  gap: 0.625em;
}
.bottom-text {
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.375em;
  text-align: left;
  color: #fff;
}
.dropdown-right {
  position: absolute;
  bottom: -0.395em;
  right: 0;
}
.dropdown-right > img {
  width: 9em;
}
.dropdown-header {
  display: flex;
  align-items: center;
  gap: 0.625em;
  cursor: pointer;
}
.dropdown-header > img {
  width: 0.9375em;
}
.heder-drop {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.875em;
  text-align: center;
}
.main-dropdown {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.submenu {
  margin-left: 1.6875em;
  padding-top: 0.625em;
}
.submenu > a {
  text-decoration: none;
  color: black;
  opacity: 60%;
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
}
.submenu > p {
  color: black;
  opacity: 60%;
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
  padding-bottom: 0.625em;
  margin-top: -3.125em;
}
.newsroom-press {
  height: auto;
  margin-top: 5em;
  padding: 0 7em;
  display: block;
}
.newsroom-inNews-btn > img {
  width: 1.2em;
}

.newsroom-press-title {
  color: var(--Accent-Teal, #00677f);
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.1125em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2.5em;
}

.newsroom-inNews-title {
  color: var(--Accent-Teal, #00677f);
  font: 1.125em "Helvetica Neue LT W1G", Helvetica; /* 18px */
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.1em;
  text-align: left;
  margin-bottom: 2.5em;
}

.newsroom-press-main {
  display: flex;
  align-items: center;
  gap: 1em;
}

.newsroom-press-single {
  width: 33%;
  height: 23em;
}

.newsroom-press-single > img {
  width: 100%;
}

.newsroom-press-desc {
  font: 1.35em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.5em;
  text-align: left;
  margin-top: 0.625em;
}

.newsroom-press-date {
  font: 1.4em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.875em;
  text-align: left;
  margin-top: 0.625em;
  color: gray;
}

.newsroom-press-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 12em;
}

.newsroom-inNews-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 3em;
}

.newsroom-press-btn > p {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

.newsroom-press-btn > img {
  width: 1.4em;
}

.carousel1 {
  display: none;
}

.carousel1-dots,
.carousel-dots {
  display: flex;
  justify-content: end;
  margin-top: 9.875em;
  margin-right: 1.875em;
}
.carousel-dots {
  display: flex;
  justify-content: end;
  margin-top: 0.875em;
  margin-right: 1.875em;
}
.carousel1-dot,
.carousel-dot {
  width: 0.625em;
  height: 0.625em;
  background-color: rgb(192, 192, 192);
  margin: 0 0.4375em;
  transition: all 0.3s ease;
}

.carousel1-dot.active,
.carousel-dot.active {
  background-color: red;
  transform: scaleX(2);
}
.newsroom-newsletter {
  width: 100%;
  height: auto;
  padding: 1.5em 1.5em 1.5em 2em;
  margin: 0 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  margin-bottom: 6.25em;
  margin-top: 6.25em;
}
.newsroom-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.newsroom-newsletter-text-top {
  font: 1.5em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.4em;
  text-align: left;
  margin: 0;
}
.newsroom-newsletter-tect-mid {
  font: 1.15em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  margin: 0;
}
.newsroom-newsletter-email {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.571em;
  text-align: left;
  font-weight: 500;
  margin-top: 3em;
}
.newsroom-newsletter-input {
  width: 70%;
  height: 1.188em;
  border-radius: 2px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  margin-top: 0em;
  padding: 0.625em;
  font: 1.2em "Helvetica Neue LT W1G", Helvetica;
}
/* .newsroom-newsletter-input::placeholder {
  font: 1.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.571em;
  text-align: left;
} */
.newsroom-newsletter-img-inner {
  position: relative;
  top: 2em;
}

.newsroom-newsletter-img-inner > p {
  position: relative;
  top: -4.3em;
  left: 10.9375em;
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.newsroom-newsletter-img-inner > p::after {
  content: "→";
  display: inline-block;
  opacity: 0;
  margin-left: -1.25em;
  font-size: 1.875em;
  transition: all 0.3s ease;
  position: relative;
  left: -0.625em;
}

.newsroom-newsletter-img-inner > p:hover::after {
  opacity: 1;
  margin-left: 0.625em;
  left: 0;
}
.newsroom-newsletter-img-inner > img {
  width: 29em;
  height: 5.5em;
}
.newsroom-podcast {
  height: auto;
  padding: 3.125em 6.25em;
  margin-top: 1.875em;
}
.newsroom-podcast-title {
  color: var(--Accent-Teal, #00677f);
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.1125em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 3.125em;
}
.main-podcast {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2.5em;
}
.newsroom-podcast-left,
.newsroom-podcast-right {
  width: 50%;
  height: auto;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  align-items: center;
  gap: 1.25em;
}
.newsroom-podcast-play {
  display: flex;
  align-items: center;
  gap: 0.625em;
  margin-top: -1em;
}
.newsroom-podcast-top {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 1.25em;
  text-align: left;
}
.play-text {
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.375em;
  text-align: left;
  color: rgba(231, 19, 22, 1);
  margin-right: 0.625em;
}
.newsroom-podcast-text {
  flex: 1;
}
.newsroom-leadershipn-top {
  height: auto;
  background-color: rgba(0, 8, 27, 1);
  padding: 3.125em 7em;
}

.newsroom-leadershipn-title {
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.00625em;
  text-align: left;
  color: rgba(181, 189, 0, 1) !important;
  margin-bottom: 2em;
}

.newsroom-leadershipn-cover {
  display: flex;
  align-items: start;
  gap: 1.875em;
  color: rgba(255, 255, 255, 1);
  margin-top: 1.25em;
  background-color: rgba(39, 46, 61, 255);
}
.newsroom-leadershipn-cover > img {
  width: 25%;
}

.newsroom-leadershipn-right {
  padding: 1em;
  padding-bottom: 0;
  width: 67%;
}

.newsroom-leadershipn-top-right {
  font: 2em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 2.5em;
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}

.newsroom-leadershipn-mid-right,
.newsroom-leadershipn-mid2-right {
  font: 1.2em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.6em;
  text-align: left;
}

.newsroom-leadershipn-mid2-right {
  margin-top: 1em;
}

.newsroom-leadershipn-btn {
  display: flex;
  align-items: center;
  gap: 0.625em;
  margin-top: 2.125em;
  cursor: pointer;
}

.newsroom-leadershipn-btn > img {
  width: 1.3em;
}

.leadership-cover-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.875em;
  background-color: rgba(166, 25, 46, 1);
  padding: 0.5em 1.7em;
  border-radius: 0.3em;
}

.leadership-cover-bottom > p {
  font: 1.8em "Helvetica Neue LT W1G", Helvetica;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3125em;
  text-align: center;
  color: #fff;
}

.author {
  font: 1em "Helvetica Neue LT W1G", Helvetica !important;
  font-weight: 500 !important;
  line-height: 1.5em !important;
  text-align: center !important;
  margin-top: 0.875em;
}

.author > span {
  font-weight: 600 !important;
}

.newsroom-leadershipn-bottom {
  padding: 3.125em 7em;
}

.leadership-bottom-top {
  font: 2em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;
  margin-top: 1.875em;
  margin-bottom: 1em;
}

.leadership-bottom-top > span {
  font-weight: 700 !important;
}

.newsroom-leadershipn-single-top,
.newsroom-leadershipn-single-bottom {
  height: 10.986em;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3125em;
  margin-top: 1.875em;
}

.newsroom-leadershipn-bottom-single {
  width: 98vw;
  height: auto;
  background-color: rgba(245, 245, 245, 1);
  padding: 1.25em 2em;
}

.percentage {
  font: 1.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 2.5em;
  text-align: left;
  margin: 0;
}

.percentage-desc {
  font: 1.15em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  margin-top: -0.5em;
}

.leadership-bottom-single {
  width: auto;
  height: 11em;
  border-radius: 0.25em 0em 0em 0em;
  background-color: #e8f5f7;
  padding: 1.25em;
  height: auto;
}

.leadership-btn {
  margin-left: 7em;
  margin-top: -1.625em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.leadership-btn > img {
  width: 1.2em;
}

.leadership-bottom {
  position: relative;
  display: inline-block;
}

.leadership-bottom::after {
  content: "\2192";
  position: absolute;
  top: 0.3125em;
  right: -2.1875em;
  transform: translateY(-50%);
  opacity: 0;
  font-size: 1.875em;
  transition: opacity 0.3s ease;
}

.carousel2 {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel2-inner {
  display: flex;
  transition: transform 0.5s ease;
  gap: 0.2em;
}

.carousel3 {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel3-inner {
  display: flex;
  transition: transform 0.5s ease;
  gap: 0.2em;
}
.animation-btn {
  cursor: pointer;
  font-size: 1em; /* 16px */
  font-weight: 500;
  line-height: 1.2em; /* 19.2px */
  letter-spacing: 0.04em;
  text-align: left;
  color: #4a4a4a;
}
.c-para {
  display: none;
}
.round:hover {
  background-color: red;
}
.newsroom-podcast-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 2.5em;
  margin-left: 0.9375em;
}
.newsroom-podcast-btn > p {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  text-align: left;
  color: #4a4a4a;
}
.newsroom-podcast-btn > img {
  width: 1em;
}
.def1 {
  width: 30%;
}
.def1 > img {
  width: 100%;
}
.animation-btn {
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  text-align: left;
  color: #4a4a4a;
}
.round {
  width: 1.875em;
  height: 1.875em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  cursor: pointer;
}
.round > img {
  width: 0.5em;
}
.newsroom-inNews {
  height: auto;
  padding: 2.125em 7em;
}

.newsroom-inNews-title {
  color: var(--Accent-Teal, #00677f);
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.000625em;
  text-align: left;
  margin-bottom: 2.5em;
  padding-left: 0em;
}

.newsroom-inNews-main {
  display: flex;
  gap: 1em;
  margin-top: 1.875em;
}

.newsroom-inNews-badge {
  background-color: rgba(234, 118, 0, 1);
  width: 100%;
  display: inline;
  padding: 0.25em 0.75em;
  border-radius: 0.125em 0 0 0;
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  color: #fff;
}

.newsroom-inNews-single {
  width: 33%;
}

.newsroom-inNews-single > img {
  margin-top: 0.625em;
  width: 100%;
}

.newsroom-inNews-date {
  font: 1.5em "Helvetica Neue LT W1G", Helvetica;
  color: gray;
  font-weight: 400;
  line-height: 1.875em;
  text-align: left;
  margin: 0;
}

.newsroom-inNews-desc {
  font: 1.4em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.5em;
  text-align: left;
}

.btn-single {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}
.btn-single > img {
  width: 1.2em;
}
.carousel {
  display: none;
}
.c-btn {
  text-transform: uppercase;
  color: red;
  font: 20px "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  margin-top: 1em;
}
.newsroom-main-media {
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  margin-top: 0.625em;
}
.newsroom-main-media-title {
  color: var(--Accent-Teal, #00677f);
  font: 1.45em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2.125em;
  margin-top: 3em;
}
.newsroom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.875em;
}
.newsroom-leftdiv {
  flex-grow: 1;
  border-radius: 0.125em;
  background: #efeff0;
  padding: 1.25em 2.5em;
}
.newsroom-auhtor-date {
  margin-top: 1.25em;
  font: 1.15em "Helvetica Neue LT W1G", Helvetica;
  color: #54585a;
}
.newsroom-leftdiv .newsroom-leftdiv-para {
  position: relative;
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #222222;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 3em;
}
.logo {
  width: 3em;
  height: 3em;
}
.with-background {
  background-color: #f5f5f5;
  padding: 5em 0;
}
.newsroom-leftdiv-para > div {
  font-size: 0.875em;
  font-family: "Helvetica Neue LT W1G-55Roman", Helvetica;
  font-weight: 400;
  color: rgba(84, 88, 90, 1);
  padding-top: 1.875em !important;
}
.with-background {
  background-color: #f5f5f5;
  padding: 0.5em 7.75em;
  margin: 0;
  margin-top: 2em;
  padding-bottom: 9em !important;
}

.newsroom-socials {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 0.625em;
  margin-top: -3.75em;
  margin-left: -6.3em;
}
.newsroom-socials > img {
  width: 12.5em;
  margin-right: 6.25em;
}
.newsroom-socials > p {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  color: gray;
}
.newsroom-icons {
  height: 1.1em;
}
.newsroom-icons > a {
  text-decoration: none;
  margin-right: 0.5em;
}
.newsroom-icons > a > img {
  height: 100%;
  margin-left: 0.5em;
}
body {
  overflow-x: hidden;
}
.main-news {
  width: 100%;
  margin-top: 7.375em;
  position: relative;
}

.main-news > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-poistion {
  position: absolute;
  top: 0;
  height: 99%;
  width: 50%;
}
.main-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.image-txt {
  position: absolute;
  top: 2.5em;
  left: 6.25em;
  color: #fff;
}

.txt-top {
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.75em;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}

.txt-mid1 {
  margin-left: 0.625em;
}

.main-header-title {
  display: none;
  text-transform: uppercase;
  margin-left: 1.3em;
  color: #00677f;
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.txt-mid,
.txt-mid1 {
  font: 2em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  margin-top: 0.5em;
}
.txt-mid1 > span {
  font-weight: 700;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #4a4a4a;
  padding: 2.5em 2.5em;
}

.footer-column {
  flex: 1;
}

.footer-first-top {
  font: 700 1.125em/1.5em "Helvetica Neue LT W1G", Helvetica, sans-serif; /* 18px/24px */
  margin-bottom: 0.625em;
  color: #ebebec;
}

.footer-first-mid {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.75em;
  text-align: left;
  color: #c9cacc;
}

.footer-first-bootom {
  margin-top: 0.625em;
  color: #c9cacc;
  font: 1em "Helvetica Neue LT W1G", Helvetica;
}
.footer-first-bootom > a {
  text-decoration: underline;
  color: #c9cacc;
  padding-top: 1em;
}
.footer-second {
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
  color: #ffffff;
}

.footer-second-top {
  color: #ebebec;
  font-family: "Helvetica Neue LT W1G", Helvetica;
}

.footer-second-p {
  color: white;
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  white-space: nowrap;
}

.footer-third {
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
  color: #ffffff;
}

.footer-third-top {
  color: #ebebec;
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
}

.footer-third-p {
  color: white;
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  cursor: pointer;
}

.footer-fourth {
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  font-weight: 700;
  line-height: 2em;
  text-align: left;
  color: #ffffff;
}

.footer-fourth-top {
  color: #ebebec;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  background-color: #4a4a4a;
  padding: 2.5em 2.5em;
  margin-top: 0.0625em;
  align-items: center;
}

.pre-footer-logo {
  height: 2em !important;
  margin-top: 0.625em;
  cursor: pointer;
}

.button > a {
  text-decoration: none;
  color: #fff;
}

.pre-footer-first {
  color: #ebebec;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
}

.pre-footer-second {
  color: #ebebec;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
  cursor: pointer;
}

.pre-footer-third {
  color: #ebebec;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
  margin-top: 1.5em;
}

.connect-top,
.connect-bottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.connect-top > img,
.connect-bottom > img {
  margin-bottom: 0.625em;
}

.footer-first {
  width: 50%;
}

.main-btn-newsroom2 {
  display: none;
}

.hide {
  display: none;
}

.our-story-mob {
  display: none;
}

.newsroom-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 0.625em;
  margin-top: -5.9em;
  padding-right: 1.875em;
}

.connect-top > a > img,
.connect-bottom > a > img {
  width: 1.5em;
}

.newsroom-socials > p {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  color: gray;
}

.newsroom-about {
  margin-top: 8.5em;
  padding: 0 7em;
}

.newsroom-about-title {
  color: #00677f;
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
}

.newsroom-about-main {
  display: flex;
  align-items: center;
  gap: 7.8em;
  margin-top: -2.25em;
}

.newsroom-about-left{
  width: 50%;
}

.newsroom-about-about {
  width: 46%;
}

.newsroom-about-left-heading {
  font: 3.5em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.15em;
  text-align: left;
  margin-top: 0.8em;
}

.newsroom-about-left-heading > span {
  font-weight: 700;
}

.newsroom-top {
  font: 1.4em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
}

.newsroom-right {
  font: 1.4em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
  margin-top: 1em;
}

.newsroom-right-investor {
  font: 0.75em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-align: left;
  margin-top: 0.125em;
  color: #54585a;
  opacity: 0.8;
}

.main-btn-newsroom {
  display: flex;
  align-items: center;
  gap: 0.625em;
  margin-top: -1.5em;
  cursor: pointer;
}

.main-btn-newsroom > p {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  text-transform: uppercase;
  color: red;
  font-weight: 600;
}

.animation-btn:hover {
  color: red !important;
}
.carousel4 {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: -3em;
}
.carousel4-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel4-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel4-dots {
  display: flex;
  justify-content: center;
  margin-top: 0.625em;
  position: absolute;
  bottom: -8.4375em;
}

.carousel4-dot {
  width: 0.5375em;
  height: 0.425em;
  background-color: #fff;
  margin: 0 0.3125em;
  transition: all 0.3s ease;
  cursor: pointer;
}

.carousel4-dot.active {
  background-color: #fff;
  transform: scaleX(2);
}

.carousel5 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: none;
}

.carousel5-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%;
}

.main-header {
  min-width: 100%;
  box-sizing: border-box;
}

.main-btn-newsroom > img {
  width: 1em;
}

.animation-btn:hover {
  color: red !important;
}

.newsroom-podcast {
  height: auto;
  padding: 3.125em 7em;
  margin-top: 1.875em;
}
.newsroom-podcast-title {
  color: var(--Accent-Teal, #00677f);
  font: 1.3em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2.5em;
}
.main-podcast {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2.5em;
}
.newsroom-podcast-left,
.newsroom-podcast-right {
  width: 50%;
  height: auto;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  align-items: start;
  gap: 1.25em;
}
.newsroom-podcast-play {
  display: flex;
  align-items: center;
  gap: 0.625em;
  margin-top: 0.5em;
}
.newsroom-podcast-top {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0.6em 0;
  text-align: left;
}
.play-text {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.375em;
  text-align: left;
  color: rgba(231, 19, 22, 1);
  margin-right: 0.625em;
}
.newsroom-podcast-text {
  flex: 1;
}
.c-para {
  display: none;
}
.round:hover {
  background-color: red;
}
.newsroom-podcast-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 2.5em;
  margin-left: 0;
}
.newsroom-podcast-btn > p {
  font: 1.1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  text-align: left;
  color: #4a4a4a;
}
.newsroom-podcast-btn > img {
  width: 1.3em;
}
.hide {
  display: none;
}
.def1 {
  width: 22%;
}
.def1 > img {
  width: 100%;
}
.animation-btn {
  cursor: pointer;
  font: 1.2em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.00625em;
  text-align: left;
  color: #4a4a4a;
  text-transform: uppercase;
}
.round {
  width: 1.875em;
  height: 1.875em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  cursor: pointer;
}
.round > img {
  width: 0.5em;
}

#blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  display: none;
}
@media (max-width: 899px) {
  .mobile-container {
    display: block;
  }
  .desk-nav {
    display: none;
  }
}
@keyframes slideInDown {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation-name: slideInDown;
  animation-duration: 0.8s;
}

.dropdown-header.active {
  color: #f03817;
  display: flex;
  align-items: center;
}
.dropdown-mid {
  position: absolute;
  top: 3.75em;
  left: 34.25em;
  display: flex;
  gap: 0.9375em 6.25em;
  flex-wrap: wrap;
  width: 50em;
  white-space: pre;
}
.on {
  font-weight: bold !important;
}
.dropdown-mid > p {
  font: 1.25em Helvetica Neue LT W1G, Helvetica;
  font-weight: 400;
  line-height: 1.875em;
  text-align: center;
}

.submenu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.submenu.visible {
  display: block;
  opacity: 1;
  animation-name: slideInDown;
  animation-duration: 0.8s;
}

.newsroom-about-about {
  margin-top: -1.6em;
}

.button > a {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 0.6em;
  transition: 0.2s ease all;
}

.button:hover > a {
  left: 0em;
}

.logo-footer {
  display: none;
}

@media (max-width: 899px) {
  .topnav {
    overflow-y: scroll;
  }
  .logo-footer {
    display: block;
    width: 100%;
  }
  .logo-footer > img {
    width: 8em;
    margin-bottom: 2.5em;
  }

  .carousel3-inner,
  .carousel2-inner {
    gap: 15px;
  }

  .main-btn-newsroom {
    display: none;
  }
  .footer-first {
    width: 100%;
    order: 2;
    padding-top: 3em;
  }
  .pre-footer-logo {
    display: none;
  }
  .footer-second {
    width: 50%;
    order: 1;
  }
  .pre-footer-first,
  .pre-footer-second,
  .pre-footer-third {
    width: 100%;
  }
  .pre-footer-second {
    order: 1;
    padding: 1em 0;
  }
  .pre-footer-third {
    order: 2;
    padding: 2em 0;
  }
  .pre-footer-first {
    order: 3;
    width: 45%;
  }
  .footer-third {
    width: 50%;
    order: 1;
  }
  .footer-fourth {
    width: 100%;
    order: 4;
  }
  .footer-icons {
    gap: 0;
    margin-left: -0.5em;
  }
  .footer-third-top {
    margin-top: 1.5em;
    margin-left: 0.5em;
  }
  .connect-top,
  .connect-bottom {
    flex-direction: row;
  }
  .footer-icons a {
    margin-left: 0.9375em;
  }
  .footer,
  .pre-footer,
  .csr-report-four {
    flex-wrap: wrap;
  }
  .footer {
    margin-top: 0;
    padding: 2.5em 1em;
  }
  .pre-footer {
    padding: 2.5em 1em;
  }
  .newsroom-about {
    margin-top: 0;
    padding: 0 0;
  }
  .newsroom-about-title {
    display: none;
  }
  .newsroom-about-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 3.125em 0.4375em;
    gap: 4em;
  }
  .newsroom-about-left-heading {
    font: 1.75em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 400;
    line-height: 1.625em;
    text-align: left;
    padding: 0 0.625em;
    text-shadow: 0 0.25em 0.25em #00000040;
    margin-top: 2em;
  }
  .def1 {
    width: 30%;
  }
  .newsroom-about-left-heading > span {
    font-weight: 700;
  }
  .newsroom-top {
    font: 1.2em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 400;
    line-height: 1.65em;
    text-align: left;
    margin-top: 2em;
  }
  .newsroom-right {
    font: 1.2em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 700;
    line-height: 1.65em;
    text-align: left;
    margin-top: 1.875em;
  }
  .animation-btn {
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.04em;
    text-align: left;
    color: #e71316 !important;
  }
  .newsroom-about-about {
    margin-top: -5em;
    padding: 0 0.75em;
  }
  .main-news {
    width: 100%;
    height: 26.0625em;
    margin-top: 4.375em;
    position: relative;
  }
  .main-news > img {
    width: 100%;
    height: 100%;
  }
  .main-poistion {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .image-txt {
    position: absolute;
    top: 2.5em;
    left: 2.5em;
    color: #fff;
  }
  .main-cover {
    width: 62%;
    height: 100%;
    object-fit: fill;
  }
  .txt-mid {
    display: none;
  }
  .txt-top {
    display: none;
  }
  .txt-slider {
    top: 0.0625em;
  }
  .main-header-title {
    display: block;
  }
  .carousel5 {
    display: block;
    margin-top: 6em;
  }
  .newsroom-podcast {
    height: auto;
    padding: 0;
    margin-top: 3.125em;
  }
  .newsroom-podcast-title {
    margin-left: 0.625em;
    margin-bottom: 0.5em;
  }
  .main-podcast {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2.5em;
  }
  .newsroom-podcast-left,
  .newsroom-podcast-right {
    width: 100vw;
    height: auto;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: start;
    gap: 1.25em;
  }
  .newsroom-podcast-play {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0.625em;
    margin-top: 1.25em;
    flex-direction: column;
  }
  .newsroom-podcast-top {
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1.25em;
    text-align: left;
    display: none;
  }
  .newsroom-podcast-top2 {
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1.25em;
    text-align: left;
  }
  .play-text {
    font: 0.875em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 600;
    line-height: 1.375em;
    text-align: left;
    color: rgba(231, 19, 22, 1);
    margin-top: -0.0625em;
    margin-right: 0.625em;
  }
  .c-para {
    font: 1.3125em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 400;
    padding-left: 0.3125em;
    margin-top: 0.1875em;
    line-height: 1.875em;
    display: block !important;
    width: 331% !important;
  }
  .newsroom-podcast-btn > img,
  .newsroom-leadershipn-btn > img,
  .leadership-btn > img {
    display: none;
  }
  .newsroom-podcast-btn > p,
  .newsroom-leadershipn-btn > p,
  .leadership-btn > p {
    font: 1.1125em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 1em;
  }
  .newsroom-leadershipn-main {
    margin-top: 0px;
    width: 100%;
  }
  .newsroom-leadershipn-top {
    height: auto;
    background-color: rgba(0, 8, 27, 1);
    padding: 0px;
    padding-bottom: 0.5em;
  }

  .newsroom-leadershipn-mid-right,
  .newsroom-leadershipn-mid2-right {
    font: 1.3em "Helvetica Neue LT W1G", Helvetica;
    line-height: 1.5em;
  }
  .newsroom-leadershipn-cover {
    flex-direction: column;
    align-items: normal;
    margin: 0 1em;
  }
  .newsroom-leadershipn-btn {
    margin-top: 3.125em;
    padding-bottom: 2em;
  }
  .leadership-cover-bottom {
    width: 92%;
    margin: 2em 1em;
  }
  .newsroom-leadershipn-title {
    padding: 1em;
    margin-bottom: 0.5em;
    /* padding-top: 2, 5em; */
    /* font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 700; */
  }
  .newsroom-leadershipn-top-right {
    font: 2em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 0.5em;
    margin-top: -0.7em;
  }
  .newsroom-leadershipn-cover > img {
    width: 100%;
  }
  .newsroom-leadershipn-right {
    width: 100%;
    padding: 0.875em;
  }
  .leadership-cover-bottom > p {
    line-height: 1.3125em;
  }
  .newsroom-leadershipn-bottom-single {
    width: 96vw;
    height: auto;
    box-sizing: border-box;
  }
  .newsroom-leadershipn-bottom {
    padding: 1em;
  }
  .leadership-btn {
    margin-left: 0.5em;
    margin-top: 2em;
  }
  .leadership-bottom-top {
    font: 1.5em "Helvetica Neue LT W1G", Helvetica;
  }

  .leadership-bottom-single {
    padding: 1.25em 2.25em 2.25em 1.25em;
  }
  .newsroom-main-media-title {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .percentage-desc {
    width: 70vw;
  }
  .newsroom-container {
    flex-wrap: wrap;
  }
  .hide {
    display: block;
  }
  .hide > img {
    display: none;
  }
  .with-background {
    padding: 2em !important;
  }
  .newsroom-newsletter-img-inner {
    top: 0;
  }
  .newsroom-newsletter-img-inner > p {
    top: -3.3em;
    left: 4.7em;
  }
  .newsroom-newsletter-img-inner > img {
    width: 19em;
    height: 5.5em;
}
  .newsroom-socials {
    margin-top: 1em;
    margin-left: 0em;
  }
  .carousel {
    display: block;
    position: relative;
    width: 100%;
    margin: 4em 0.625em;
    margin-bottom: 1.5em;
    overflow: hidden;
  }
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  .carousel-item {
    width: 95%;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .newsroom-inNews {
    display: none;
  }
  .newsroom-inNews-single {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 95vw;
  }
  .newsroom-inNews-badge {
    width: auto;
    font: 1em "Helvetica Neue LT W1G", Helvetica; /* 16px = 1em */
  }
  .newsroom-inNews-single > img {
    margin-top: 0.625em;
    width: 93%;
  }
  .newsroom-inNews-desc {
    padding-right: 1.125em;
  }
  .newsroom-newsletter-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: -71px;
  }
  .newsroom-newsletter {
    width: 100%;
    height: auto;
    padding: 0;
    gap: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 3.3125em;
  }

  .newsroom-newsletter-text {
    margin: 0 0.625em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .newsroom-newsletter-text-top {
    font: 1.375em "Helvetica Neue LT W1G", Helvetica;
    margin-left: 0.425em;
    font-weight: 700;
  }

  .newsroom-newsletter-tect-mid {
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    margin-left: 0.625em;
    line-height: 1.5em;
  }

  .newsroom-newsletter-email {
    margin-left: 0.625em;
    font: 0.875em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
  }

  .newsroom-newsletter-input {
    width: 17.1875em;
    height: 2.1875em;
    border-radius: 0.125em 0 0 0;
    background-color: rgb(255, 255, 255);
    border: 0.00625em solid gray;
    outline: #00000040;
    margin-top: 0.5em;
    margin-left: 1.25em;
    padding: 0.3125em;
  }
  .newsroom-newsletter-input::placeholder {
    color: #222222;
    font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  }

  .newsroom-newsletter-img > img {
    position: absolute;
    right: 0;
  }
  .newsroom-newsletter-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: -0.5em;
  }
  .newsroom-podcast {
    height: auto;
    padding: 0;
    margin-top: 3.125em;
  }
  /* .newsroom-podcast-title {
    color: var(--Accent-Teal, #00677f);
    font: 1.3em "Helvetica Neue LT W1G", Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375em;
    letter-spacing: 0.1125em;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 1.5625em;
    margin-left: 1.2em;
  } */
  .newsroom-inNews-title {
    padding-left: 0.5em;
  }
  .main-podcast {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2.5em;
  }
  .newsroom-podcast-left,
  .newsroom-podcast-right {
    width: 100vw;
    height: auto;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: start;
    gap: 1.25em;
    padding-bottom: 1em;
    padding-left: 1em;
  }
  .newsroom-podcast-play {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0.625em;
    margin-top: 1.25em;
    flex-direction: column;
  }
  .newsroom-podcast-top {
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1.25em;
    text-align: left;
    display: none;
  }
  .newsroom-podcast-top2 {
    font: 1.1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1.25em;
    text-align: left;
  }
  .play-text {
    font: 1em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 600;
    line-height: 1.375em;
    text-align: left;
    color: rgba(231, 19, 22, 1);
    margin-top: -0.0625em;
    margin-right: 0.625em;
  }
  .c-para {
    font: 1.2125em "Helvetica Neue LT W1G", Helvetica;
    font-weight: 600;
    padding-left: 0em;
    margin-top: 0.1875em;
    line-height: 1.2em;
    display: block !important;
    width: 330% !important;
  }
  .newsroom-press {
    display: none;
  }
  .newsroom-press-single {
    width: 97%;
  }
  .carousel1 {
    display: block !important;
    position: relative;
    width: 100%;
    margin: 5.25em 0.625em;
    overflow: hidden;
  }

  .carousel1-inner {
    display: flex;
    transition: transform 0.5s ease;
    padding-left: 1em;
  }

  .carousel1-item {
    width: 95%;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    padding-left: 1em;
  }

  .view {
    padding-left: 0.4em;
  }

  .carousel-item {
    width: 95%;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}

@media (min-width: 550px) and (max-width: 749px) {
  .leadership-cover-bottom {
    width: 95%;
  }
}

@media (min-width: 650px) and (max-width: 749px) {
  .carousel {
    margin: -2em 0.625em;
  }
  .carousel1-dots {
    margin-top: 12.875em;
  }
}

@media (min-width: 750px) and (max-width: 809px) {
  .carousel1-dots {
    margin-top: 15.875em;
  }
  .newsroom-diver-slider-content {
    top: 17em;
  }
  .newsroom-diver-slider-content p {
    font: 1.3em "Helvetica Neue LT W1G", Helvetica;
    line-height: 1.2em;
  }
}

@media (min-width: 810px) and (max-width: 899px) {
  .carousel1-dots {
    margin-top: 17.875em;
  }
  .newsroom-diver-slider-content {
    top: 20em;
  }
  .newsroom-diver-slider-content p {
    font: 1.4em "Helvetica Neue LT W1G", Helvetica;
    line-height: 1.2em;
  }
}

@media (min-width: 750px) and (max-width: 899px) {
  .leadership-cover-bottom {
    width: 96%;
  }
  .search-mob > input {
    width: 95%;
  }
}
